<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TestRegistrationTask</servlet-name>
        <servlet-class>service.TestRegistrationTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestLoginTask</servlet-name>
        <servlet-class>service.TestLoginTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestDeleteTask</servlet-name>
        <servlet-class>service.TestDeleteTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestUpdateTask</servlet-name>
        <servlet-class>service.TestUpdateTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestComplaintTask</servlet-name>
        <servlet-class>service.TestComplaintTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestFeedBackTask</servlet-name>
        <servlet-class>service.TestFeedBackTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestTraceTask</servlet-name>
        <servlet-class>service.TestTraceTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestLoginTask1</servlet-name>
        <servlet-class>service.TestLoginTask1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTask</servlet-name>
        <servlet-class>service.UpdateTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateComp1</servlet-name>
        <servlet-class>service.UpdateComp1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestEmployeeTask</servlet-name>
        <servlet-class>service.TestEmployeeTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployeeTask</servlet-name>
        <servlet-class>service.UpdateEmployeeTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestRegistrationTask1</servlet-name>
        <servlet-class>service.TestRegistrationTask1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestEnquiryTask</servlet-name>
        <servlet-class>service.TestEnquiryTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestcoursefeesTask</servlet-name>
        <servlet-class>service.TestcoursefeesTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestsalarydetailsTask</servlet-name>
        <servlet-class>service.TestsalarydetailsTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeststaffattendanceTask</servlet-name>
        <servlet-class>service.TeststaffattendanceTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestaddclientTask</servlet-name>
        <servlet-class>service.TestaddclientTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestaddplacementTask</servlet-name>
        <servlet-class>service.TestaddplacementTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestRegistrationTask</servlet-name>
        <url-pattern>/TestRegistrationTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestLoginTask</servlet-name>
        <url-pattern>/TestLoginTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestDeleteTask</servlet-name>
        <url-pattern>/TestDeleteTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestUpdateTask</servlet-name>
        <url-pattern>/TestUpdateTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestComplaintTask</servlet-name>
        <url-pattern>/TestComplaintTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestFeedBackTask</servlet-name>
        <url-pattern>/TestFeedBackTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestTraceTask</servlet-name>
        <url-pattern>/TestTraceTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestLoginTask1</servlet-name>
        <url-pattern>/TestLoginTask1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTask</servlet-name>
        <url-pattern>/UpdateTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateComp1</servlet-name>
        <url-pattern>/UpdateComp1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestEmployeeTask</servlet-name>
        <url-pattern>/TestEmployeeTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployeeTask</servlet-name>
        <url-pattern>/UpdateEmployeeTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestRegistrationTask1</servlet-name>
        <url-pattern>/TestRegistrationTask1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestEnquiryTask</servlet-name>
        <url-pattern>/TestEnquiryTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestcoursefeesTask</servlet-name>
        <url-pattern>/TestcoursefeesTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestsalarydetailsTask</servlet-name>
        <url-pattern>/TestsalarydetailsTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeststaffattendanceTask</servlet-name>
        <url-pattern>/TeststaffattendanceTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestaddclientTask</servlet-name>
        <url-pattern>/TestaddclientTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestaddplacementTask</servlet-name>
        <url-pattern>/TestaddplacementTask</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
